@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --text: rgb(95, 122, 149);
    --text-primary: rgb(255, 255, 255);
    --variable: rgb(67, 217, 173);
    --background: rgb(1, 23, 40);
    --primary: rgb(254, 163, 93);
    --secondary: rgb(28, 44, 59);
    --accent: rgb(120, 27, 182);
    --linearPrimarySecondary: linear-gradient(rgb(254, 163, 93), rgb(28, 44, 59));
    --linearPrimaryAccent: linear-gradient(rgb(254, 163, 93), rgb(120, 27, 182));
    --linearSecondaryAccent: linear-gradient(rgb(28, 44, 59), rgb(120, 27, 182));
    --radialPrimarySecondary: radial-gradient(rgb(254, 163, 93), rgb(28, 44, 59));
    --radialPrimaryAccent: radial-gradient(rgb(254, 163, 93), rgb(120, 27, 182));
    --radialSecondaryAccent: radial-gradient(rgb(28, 44, 59), rgb(120, 27, 182));

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
    scrollbar-width: none;
    color: var(--text);
    height: 100%;
}

body {
    height: 100%;
}

/* site background  */

.site__background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: url('./assets/img/Main-background.png');
    filter: blur(2px);
    background-size: cover;
    z-index: -1;
}

.wrapper {
    position: relative;
    height: 100%;
}

.home__main {
    padding: 10rem 12rem;
    gap: 5rem;
    min-height: 100vh;

}

/* Header  */

.header__nav {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    color: var(--text);
    line-height: 2;
    border-bottom: 1px solid var(--text);
    z-index: 2;
}

.header__nav-list {
    display: flex;
}

.header__nav-list li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.header__nav-list li:first-child .header__nav-link {
    padding-left: 0;
    padding-right: 8rem;
}

.header__nav-list li:not(:first-child) {
    border-left: 1px solid var(--text);
}

.header__nav-link { 
    padding: 2rem;
}

.header__nav-link.active {
    color: var(--text-primary);
    position: relative;
}

.header__nav-link.active:hover {
    color: var(--primary);
    transition: all 0.3s ease-in-out;
}

.header__nav-list :not(.header__nav-link.active):hover {
    color: var(--text-primary);
    transition: all 0.3s ease-in-out;
}

.header__nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1rem;
    width: 100%;
    height: 2px;
    background-color: var(--primary);
}


.header__nav-list li:last-child {
    border-right: 1px solid var(--text);
}



.header__contact p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    border-left: 1px solid var(--text);
    cursor: pointer;
}

.header__contact p:hover {
    color: var(--text-primary);
}

.main {
    display: flex;
}

.main__intro {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.main__intro-heading {
    display: flex;
    flex-direction: column;
}
.main__intro-heading p {
    font-size: 1.2rem;
    font-weight: 450;
    color: var(--text-primary);
    line-height: normal;
}

.main__intro-heading h1 {
    font-size: 4rem;
    font-weight: 300;
    color: var(--text-primary);
    line-height: normal;
}

.main__intro-heading h2 {
    font-size: 2rem;
    font-weight: 450;
    color: var(--accent);
    line-height: normal;
}

.main__intro-content {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.main__intro-content p { 
    font-size: 1rem;
}

.main__intro-content-code {
    font-weight: 500;
}

.main__intro-content-code .const {
    color: var(--accent);
}

.main__intro-content-code .variable {
    color: var(--variable);
}

.main__intro-content-code .equal {
    color: var(--text-primary);
}

.main__intro-content-code .links {
    color: var(--primary);
}

.main__app img {
    width: 32rem;
    height: auto;
    object-fit: cover;
}

/* Footer  */

.footer_nav {
    display: flex;
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    /* padding-top: 0.5rem; */
    color: var(--text);
    border-top: 1px solid var(--text);
    line-height: 2.5;
    z-index: 2;
}

.footer_nav-list {
    display: flex;
    justify-content: space-between;
}

.footer_nav-list li {
    /* padding-top: 0.5rem; */
}

.footer_nav-list li:first-child .footer_nav-link {
    padding-right: 1rem;
    cursor: text;
}

.footer_nav-list li:not(:first-child) .footer_nav-link {
    padding: 0 0.5rem;
}

.footer_nav-list li:not(:first-child) .footer_nav-link:hover {
    color: var(--text-primary);
    transition: all 0.3s ease-in-out;
}

.footer_nav-list li:not(:first-child) {
    border-left: 1px solid var(--text);
}

.footer_nav-list li:last-child {
    border-right: 1px solid var(--text);
}

.footer_contact {
    border-left: 1px solid var(--text);
    cursor: pointer;
}

.footer_contact a { 
    padding-left: 0.5rem;
}

.footer_contact a:hover i {
    color: var(--text-primary);
    transition: all 0.3s ease-in-out;
}


/* Aside  */

.about__main {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.about__aside {
    display: flex;
    min-height: 100vh;
}
.about__aside-l {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1rem;
    padding:0 1.3rem;
    border-bottom: 1px solid var(--text);
}

.about__aside-l::after, .about__aside-r::after
{
    position: absolute;
    content : '';
    display: block;
    background: var(--text);
    width: 1px;
    height: 100%;
    right: 0;
}

.about_aside-l-icon {
    padding-top: 0.5rem;
    cursor: pointer;
}

.about_aside-l-icon:hover i {
    color: var(--text);
    transition: all 0.3s ease-in-out;
}

.about__aside-r {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1rem;
    /* padding-left: 0.5rem;
    padding-right: 0.7rem; */
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--text);
}

.about_aside-l-icon {
    color: var(--text-primary);
}

.about__aside-r-item.tabs {
    color: var(--text-primary);
    font-size: 0.8rem;
    line-height: 2;
}
.about__aside-r-item.tabs:first-child {
    padding-top: 0.5rem;
}
.about__aside-r-item.tabs i {
    padding-left: 0.7rem;
}

.about__aside-r-item-folder {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.about__aside-r-item.tabs {
    position: relative;
}

.about__aside-r-item.tabs::after {
    content: '';
    position: absolute;
    min-width: 100%;
    left: 0;
    bottom: -0.5rem;
    border-bottom: 1px solid var(--text);
}

.about__aside-r-item {
    padding: 0 0.9rem;
    line-height: 2;
}

.about__aside-r-item-folder-file:hover {
    color: var(--primary);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.about__aside-r-item-folder-file {
    font-size: 0.8rem;
    text-wrap: nowrap;
}

.about__aside-r-item-folder-file i{
    padding-left: 0.8rem;
}

.folder-primary {
    color: var(--primary);
    font-weight: 500;
}

.folder-secondary {
    color: #00e3d0;
}

.folder-bg {
    color: #e30000;
}

.folder-txt {
    color: var(--text-primary);
}

.folder-accent {
    color: var(--accent);
}



/* Code  */

.code__main {
    display: flex;
    flex-direction: column;
}


.code__main-wrapper {
    display: flex;
    gap: 5rem;
    border-top: 1px solid var(--text);
    min-height: 100vh;
    padding-left: 1rem;
}

.code__main-header-tab {
    position: relative;
    padding-top: 0.5rem;
    padding-left: 0.7rem;
    margin-bottom: 0.5rem;
}

.code__main-header-tab::before {
    content: '';
    position: absolute;
    min-height: 125%;
    width: 1px;
    right: 0;
    top: 0;
    background: var(--text);
}

.code__main-header-tab::after {
    content: '';
    position: absolute;
    min-width: 100%;
    left: 0;
    bottom: -0.5rem;
    border-bottom: 1px solid var(--text);
}

.code__main-header-tab i {
    padding-left: 2rem;
    padding-right: 1rem;
}

.code__main-ide {
    display: flex;
    gap: 1rem;
    padding-left: 0.7rem;
}

.code__main-ide-num {
    display: inline-flex;
}

.slide-bar {
    border-left: 1px solid var(--text);
    border-right: 1px solid var(--text);
}

.slide-bar i {
    font-size: 2rem;
}

/* Skill  */

.skill__main {
    display: flex;
    flex-direction: column;
}

.skill__card-avt-img {
    width: 2.5rem;
    border-radius: 50%;
}

.skill__main-wrapper {
    display: flex;
    border-top: 1px solid var(--text);
    min-height: 100vh;
    justify-content: space-between;
}

.skill__main-ide {
    display: flex;
    flex-direction: column;
}

.skill__main-ide-task {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0 2rem;
}

.skill__card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.skill__card-infos {
    display: flex;
    justify-content: space-between;
}

.skill__card-actived {
    display: flex;
    gap: 1rem;
}

.skill__main-header-tab {
    position: relative;
    padding-top: 0.5rem;
    padding-left: 0.8rem;
    margin-bottom: 0.5rem;
    margin-left: -0.1rem;
}

.skill__main-header-tab::before {
    content: "";
    position: absolute;
    min-height: 125%;
    width: 1px;
    left: 0px;
    top: 0px;
    background: var(--text);
}

.skill__main-header-tab::after {
    content: "";
    position: absolute;
    min-width: 100%;
    left: 0px;
    bottom: -0.5rem;
    border-bottom: 1px solid var(--text);
}

.skill__card-status .username {
    color: var(--accent);
}

.skill__card-status .time {
    font-size: 0.8rem;
}

.skill__card-time {
    display: flex;
    gap: 1rem;
}
.skill__card-update {
    background-color: var(--secondary);
    border: 1px solid var(--text);
    border-radius: 10px;
    box-shadow: 2px 3px 10px 0px var(--text);
}

.skill__card-update p {
    font-size: 0.8rem;
    color: var(--text);
    padding: 1rem 4rem;
}


/* Projects  */

.pj__main {
    display: flex;
    margin: 0;

}

.pj__aside, .pj__aside-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pj__aside-tabs {
    padding: 0.5rem;
    border-bottom: 1px solid var(--text);
}

.pj__aside {
    min-height: 100vh;
    border-right: 1px solid var(--text);
}

.pj__aside-item-row {
    display: flex;
    align-items: center;
    gap: 1.64rem;
}

.pj__aside-item {
    padding-right: 5.2rem;
    text-wrap: nowrap;
}

.pl {
    padding-left: 1rem;
}

.pj__aside-item-row .fa-solid + .pj__aside-item span {
    color: var(--text-primary);
}

.pj__aside-item-row .fa-solid + .pj__aside-item span:hover {
    color: var(--primary);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.pj__container {
    display: flex;
    flex-direction: column;
}

.pj__container-content {
    min-height: 100vh;
}

.pj__container-header, .pj__container-header-tabs {
    display: flex;
}

.pj__container-content, .pj__container-content-cards {
    display: flex;
}

.pj__container-header-tabs {
    align-items: center;
    border-right: 1px solid var(--text);
    line-height: 2.5;
    padding: 0 1rem;
    gap: 1rem;
}

.pj__container-header {
    border-bottom: 1px solid var(--text);
}

.pj__container-content-item {
    display: flex;
    flex-direction: column;
    font-size: 0.625rem;
    gap: 2rem;
}

.pj__container-content-cards {
    padding: 0 8.5rem;
    margin: 6rem 0;
    justify-content: space-between;
    gap: 4rem;
}

.pj__card {
    background-color: var(--secondary);
    border: 1px solid var(--text);
    border-radius: 10px;
    box-shadow: 2px 3px 10px 0px var(--text);
    position: relative;
}

.pj__card-img {
    width: 100%;
}

.pj__card-img + i {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1rem;
    padding: 0.5rem;
    color: var(--text-primary);
    background: var(--text);
}

.pj__card-desc {
    margin: 1rem;
}

.pj__card-btn {
    color: var(--background);
    background: var(--text);
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 0.625rem 0.9rem;
    border-radius: 10px;
}

.pj__card-btn:hover, .pj__card-img + i:hover {
    background: var(--primary);
    color: var(--text-primary);
    transition: all 0.3s ease-in-out;
}


